{# Template Credit: https://github.com/jvadillo/twitter-bootstrap #}
{% extends "network/layout.html" %}

{% block body %}
  <div class="main-container">
    <!-- Profile background large image -->
    <div class="row ">
      {% if user.is_authenticated %}
        <img class="profile-background" src="{{ user.profile.background_image }}" alt="">
      {% else %}
        <img class="profile-background" src="https://images.pexels.com/photos/1435849/pexels-photo-1435849.jpeg?cs=srgb&dl=pexels-engin-akyurt-1435849.jpg&fm=jpg" alt="">
      {% endif %}
      <div class="container">
        <!-- User main avatar -->
        <div class="avatar-container">
          <div class="avatar"></div>
        </div>
      </div>
    </div>

    <nav class="navbar profile-stats">
      <div class="container">
        <div class="row">
          <div class="col"></div>
          <div class="col-6">
            <ul>
              <li class="profile-stats-item-active">
                <a>
                  <span class="profile-stats-item profile-stats-item-label">Tweets</span>
                  <span class="profile-stats-item profile-stats-item-number">{{tweet_count}}</span>
                </a>
              </li>
              <li>
                <a>
                  <span class="profile-stats-item profile-stats-item-label">Following</span>
                  <span class="profile-stats-item profile-stats-item-number">{{user_follows}}</span>
                </a>
              </li>
              <li>
                <a>
                  <span class="profile-stats-item profile-stats-item-label">Followers</span>
                  <span class="profile-stats-item profile-stats-item-number">{{user_followed_by}}</span>
                </a>
              </li>
              <li>
                <a>
                  <span class="profile-stats-item profile-stats-item-label">Likes</span>
                  <span class="profile-stats-item profile-stats-item-number">241</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </nav>
    <div class="container main-content">
      <div class="row">
        {% if user.is_authenticated and profile %}
          <div class="col profile-col">
            <!-- Left column -->
            <div class="profile-header">
              <!-- Header information -->
              <h3 class="profile-fullname">
                <a>{{user_profile_id.first_name}}
                  <a></h3>
                  <h2 class="profile-element">
                    <a href="{% url 'user_profile' pk=user_profile_id.id %}">
                      @{{ user_profile_id.username }}
                    </a>
                  </h2>
                  <h2 class="profile-element">
                    <i class="octicon octicon-calendar"></i>Joined
                    {{ user_profile_id.profile.date_joined }}</h2>
                  {# Show follow button if not current logged in user #}
                  {% if user != user_profile_id and is_following == False %}
                    <form action="{% url 'follow' id=user_profile_id.id %}" method="post">
                      {% csrf_token %}
                      <button class="btn btn-primary follow-toggle">Follow</button>
                    </form>
                  {% elif user != user_profile_id and is_following %}
                    <form action="{% url 'unfollow' id=user_profile_id.id %}" method="post">
                      {% csrf_token %}
                      <button class="btn btn-primary follow-toggle">Unfollow</button>
                    </form>

                  {% endif %}
                </div>
              </div>
            {% else %}
              <div class="col"></div>
            {% endif %}
            <!-- End Left column -->
            <!-- Center content column -->
            <div class="col-6 compose-form">
              {% if user.is_authenticated %}
                {# Begin Send Tweet Box/Form #}
                <div class="toggleBox">
                  <div class="wrapper">
                    <form action="{% url 'send_tweet' pk=user.id %}" method="post">
                      {% csrf_token %}
                      <div class="form-group">
                        <textarea required="true" aria-label="Send A Tweet" class="form-control" name="tweet_body" placeholder="What's happening?" rows="3"></textarea>
                      </div>
                      <div class="bottom">
                        <div class="content">
                          <span class="counter">100</span>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              {% endif %}
              {# End Tweet Box #}

              {# BEGIN TWEET CARD #}
              <ol class="tweet-list">
                {% for post in posts %}
                  <li class="tweet-card">
                    <div class="tweet-content">
                      <div class="tweet-header">
                        <span class="fullname">
                          <strong>{{post.author.first_name}}</strong>
                        </span>
                        <a href="{% url 'user_profile' pk=post.author.id %}">
                          <span class="username">@{{post.author.username}}</span></a>
                        <span class="tweet-time">-
                          {{post.date_created}}</span>
                      </div>
                      <a>
                        <img class="tweet-card-avatar" src="https://pbs.twimg.com/profile_images/679974972278849537/bzzb-6H4_bigger.jpg" alt="">
                      </a>
                      <div class="tweet-text">
                        <p class="" lang="es" data-aria-label-part="0">{{post.post_body}}
                        </p>
                      </div>
                      <div class="tweet-footer">
                        <a class="tweet-footer-btn">
                          <i class="octicon octicon-heart" aria-hidden="true"></i>
                          <span>
                            0</span>
                        </a>
                      </div>
                    </div>
                  </li>
                  {% empty %}
                  <li>This user has no tweets to share at the moment.</li>
                {% endfor %}
              </ol>
              <!-- End: tweet list -->
            </div>
            <!-- End: Center content column -->
            {% if user.is_authenticated and profile %}
              <div class="col right-col">
                <div class="content-panel">
                  <div class="panel-header text-center">
                    <h4>Meet New Friends</h4>
                  </div>
                  <!-- Meet New Friends panel -->
                  <div class="panel-content">
                    <!--Follow list -->
                    <ol class="tweet-list">
                      {% for other_users in follow_suggestions %}
                        <li class="tweet-card">
                          <div class="tweet-content">
                            <img class="tweet-card-avatar" src="https://pbs.twimg.com/profile_images/679974972278849537/bzzb-6H4_bigger.jpg" alt="">
                            <div class="tweet-header">
                              <span class="profile-fullname">
                                <strong>{{other_users.first_name}}</strong>
                              </span>
                              <p>
                                <a href="{% url 'user_profile' pk=other_users.id %}">
                                  <span class="username">@{{other_users.username}}</span></a>
                              </p>

                            </div>
                          </div>
                        </li>
                      {% endfor %}
                    </ol>
                    <!--END: Follow list -->
                  </div>
                </div>
              {% else %}
                <div class="col"></div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endblock %}
