{% extends "network/layout.html" %}
<!-- BEGIN STATS BAR -->
<!-- END STATS BAR -->
{% block body %}
  <!-- BEGIN Left column -->
  <div class="col profile-col">
    {% include "network/left-sidebar.html" %}
  </div>
  <!-- END Left column -->

  <!-- BEGIN Center content column -->
  <div class="col-6 compose-form">

    <!-- Begin Send Tweet Box/Form -->
    {% include "network/tweet-form.html" %}
    <!-- END Tweet Box -->

    <!-- BEGIN TWEET LIST-->
    {% include "network/all-tweets.html" %}
    <!-- END: TWEET LIST -->

  </div>
  <!-- END: Center content column -->

  <!-- BEGIN RIGHT SIDEBAR -->
  {% include "network/right-sidebar.html" %}
  <!-- END RIGHT SIDEBAR -->
{% endblock %}
