<ol class="tweet-list">
  {% for post in posts %}
    <li class="tweet-card">
      <div class="tweet-content">
        <div class="tweet-header">
          <span class="fullname">
            <strong>{{post.author.first_name}}</strong>
          </span>
          <a href="{% url 'user_profile' pk=post.author.id %}">
            <span class="username">@{{post.author.username}}</span></a>
          <span class="tweet-time">-
            {{post.date_created}}</span>
        </div>
        <a>
          <img class="tweet-card-avatar" src="https://pbs.twimg.com/profile_images/679974972278849537/bzzb-6H4_bigger.jpg" alt="">
        </a>
        <div class="tweet-text">
          <p class="" lang="es" data-aria-label-part="0">{{post.post_body}}
          </p>
        </div>
        <div class="tweet-footer">
          <a class="tweet-footer-btn">
            <i class="octicon octicon-heart" aria-hidden="true"></i>
            <span>
              0</span>
          </a>
        </div>
      </div>
    </li>
    {% empty %}
    <li>This user has no tweets to share at the moment.</li>
  {% endfor %}
</ol>
<!--Pagination-->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if posts.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
      </li>
    {% endif %}
    {% for i in posts.paginator.page_range %}
      {% if posts.number == i %}
        <li class="page-item active" aria-current="page">
          <span class="page-link">
            {{ i }}
            <span class="sr-only">(current)</span>
          </span>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if posts.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
      </li>
    {% endif %}
  </ul>
</nav>
<!--end of Pagination-->
