<ul>
  <li class="profile-stats-item-active">
    <a>
      <span class="profile-stats-item profile-stats-item-label">Tweets</span>
      <span class="profile-stats-item profile-stats-item-number">{{tweet_count}}</span>
    </a>
  </li>
  <li>
    <a>
      <span class="profile-stats-item profile-stats-item-label">Following</span>
      <span class="profile-stats-item profile-stats-item-number">{{user_follows}}</span>
    </a>
  </li>
  <li>
    <a>
      <span class="profile-stats-item profile-stats-item-label">Followers</span>
      <span class="profile-stats-item profile-stats-item-number">{{user_followed_by}}</span>
    </a>
  </li>
</ul>
