{% if user.is_authenticated %}
  <div class="toggleBox">
    <div class="wrapper">
      <form action="{% url 'send_tweet' pk=user.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <textarea required="true" aria-label="Send A Tweet" class="form-control" name="tweet_body" placeholder="What's happening?" rows="3"></textarea>
        </div>
        <div class="bottom">
          <div class="content">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endif %}
